Repository prisma/prisma, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Jolg42, @williamluke4, @millsp

fix(deps): update engines to v2.25.0-10.7eca2458569e8183a865bc4f7b1d842572edce4a
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Owners: @Jolg42, @williamluke4, @millsp

fix(deps): update engines to v2.25.0-10.7eca2458569e8183a865bc4f7b1d842572edce4a
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Owners: @Jolg42, @williamluke4, @millsp

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 6014bf287ff0acc1470c96df660199fc023c5f2e
  dev/bench/data.js
Owners: @Jolg42, @williamluke4, @millsp

add debug
  src/scripts/ci/publish.ts
Owners: @Jolg42

force buildkit to run
  src/package.json
Owners: @Jolg42, @williamluke4, @millsp

remove debug
  src/package.json
  src/scripts/ci/publish.ts
Owners: @Jolg42, @williamluke4, @millsp

Revert "remove debug"
  src/package.json
  src/scripts/ci/publish.ts
Owners: @Jolg42, @williamluke4, @millsp

Seperate Build Kite Job for N-API
  src/.buildkite/test/test.yml
  src/scripts/ci/publish.ts
Owners: @Jolg42, @williamluke4

remove debug
  src/package.json
  src/scripts/ci/publish.ts
Owners: @Jolg42, @williamluke4, @millsp

add timeouts
  src/packages/client/src/__tests__/integration/happy/batch-findUnique/test.ts
  src/packages/client/src/__tests__/integration/happy/raw-transactions/test.ts
Owners: @williamluke4, @millsp

lint
  src/packages/client/src/__tests__/integration/happy/batch-findUnique/test.ts
  src/packages/client/src/__tests__/integration/happy/raw-transactions/test.ts
Owners: @williamluke4, @millsp

clean
  .github/workflows/test.yml
Owners: @Jolg42, @williamluke4

.github/CODEOWNERS:

# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*                               @Jolg42 @williamluke4 @millsp 

# root
/.github/                       @Jolg42 @williamluke4
/.github/workflows/benchmark.yml @williamluke4 
/scripts/                       @Jolg42 @williamluke4
/graphs/                        @williamluke4

# src
/src/.buildkite/                @Jolg42 @williamluke4
/src/scripts/                   @Jolg42 

# src/packages
/src/packages/cli/              @Jolg42 @williamluke4 @millsp
/src/packages/client/           @williamluke4 @millsp
/src/packages/debug/            @williamluke4 @millsp
/src/packages/engine-core/      @williamluke4 @millsp
/src/packages/generator-helper/ @williamluke4 @millsp
/src/packages/get-platform/     @williamluke4 @millsp
/src/packages/migrate/          @Jolg42
/src/packages/react-prisma/     @williamluke4 @millsp
/src/packages/sdk/              @Jolg42 @williamluke4 @millsp 
/src/packages/integration-tests/ @williamluke4 @millsp
