Repository prisma/prisma, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Jolg42, @williamluke4, @millsp

.github/CODEOWNERS:

# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*                               @Jolg42 @williamluke4 @millsp 

# root
/.github/                       @Jolg42 @williamluke4
/.github/workflows/benchmark.yml @williamluke4 
/scripts/                       @Jolg42 @williamluke4
/graphs/                        @williamluke4

# src
/src/.buildkite/                @Jolg42 @williamluke4
/src/scripts/                   @Jolg42 

# src/packages
/src/packages/cli/              @Jolg42 @williamluke4 @millsp
/src/packages/client/           @williamluke4 @millsp
/src/packages/debug/            @williamluke4 @millsp
/src/packages/engine-core/      @williamluke4 @millsp
/src/packages/generator-helper/ @williamluke4 @millsp
/src/packages/get-platform/     @williamluke4 @millsp
/src/packages/migrate/          @Jolg42
/src/packages/react-prisma/     @williamluke4 @millsp
/src/packages/sdk/              @Jolg42 @williamluke4 @millsp 
/src/packages/integration-tests/ @williamluke4 @millsp

add Benchmark.js Benchmark (benchmarkjs) benchmark result for ffcf09d3e735eafcbc33b403fb1a40012374a789
  dev/bench/data.js
Owners: @Jolg42, @williamluke4, @millsp

chore(client): prettier
  src/packages/client/.prettierignore
  src/packages/client/src/runtime/dmmf.ts
  src/packages/client/src/runtime/getPrismaClient.ts
  src/packages/client/src/runtime/highlight/languages/sql.ts
  src/packages/client/src/runtime/query.ts
  src/packages/client/src/runtime/utils/common.ts
  src/packages/client/src/runtime/utils/fromEntries.ts
  src/packages/client/src/runtime/utils/mssqlPreparedStatement.ts
  src/packages/client/src/runtime/utils/printStack.ts
  src/packages/client/src/runtime/utils/stringifyObject.ts
Owners: @williamluke4, @millsp

chore(client): prettier (#7420)
  src/packages/client/.prettierignore
  src/packages/client/src/runtime/dmmf.ts
  src/packages/client/src/runtime/getPrismaClient.ts
  src/packages/client/src/runtime/highlight/languages/sql.ts
  src/packages/client/src/runtime/query.ts
  src/packages/client/src/runtime/utils/common.ts
  src/packages/client/src/runtime/utils/fromEntries.ts
  src/packages/client/src/runtime/utils/mssqlPreparedStatement.ts
  src/packages/client/src/runtime/utils/printStack.ts
  src/packages/client/src/runtime/utils/stringifyObject.ts
Owners: @williamluke4, @millsp

chore(client): prettier (#7420)
  src/packages/client/.prettierignore
  src/packages/client/src/runtime/dmmf.ts
  src/packages/client/src/runtime/getPrismaClient.ts
  src/packages/client/src/runtime/highlight/languages/sql.ts
  src/packages/client/src/runtime/query.ts
  src/packages/client/src/runtime/utils/common.ts
  src/packages/client/src/runtime/utils/fromEntries.ts
  src/packages/client/src/runtime/utils/mssqlPreparedStatement.ts
  src/packages/client/src/runtime/utils/printStack.ts
  src/packages/client/src/runtime/utils/stringifyObject.ts
Owners: @williamluke4, @millsp

add Benchmark.js Benchmark (benchmarkjs) benchmark result for ed4315042a897daf651e6b89f25eef9f41eeffae
  dev/bench/data.js
Owners: @Jolg42, @williamluke4, @millsp

chore: cleanup middleware implementation (#6969)
  src/packages/cli/src/__tests__/__snapshots__/studio.test.ts.snap
  src/packages/client/src/__tests__/batching.test.ts
  src/packages/client/src/__tests__/integration/happy/async-hooks/test.ts
  src/packages/client/src/__tests__/integration/happy/middlewares-manipulation/test.ts
  src/packages/client/src/__tests__/integration/happy/middlewares/dev.db
  src/packages/client/src/__tests__/integration/happy/middlewares/test.ts
  src/packages/client/src/generation/TSClient/helpers.ts
  src/packages/client/src/runtime/MiddlewareHandler.ts
  src/packages/client/src/runtime/PrismaClientFetcher.ts
  src/packages/client/src/runtime/getPrismaClient.ts
  src/packages/client/src/runtime/query.ts
  src/packages/client/tsconfig.json
Owners: @Jolg42, @williamluke4, @millsp

chore: cleanup middleware implementation (#6969)
  src/packages/cli/src/__tests__/__snapshots__/studio.test.ts.snap
  src/packages/client/src/__tests__/batching.test.ts
  src/packages/client/src/__tests__/integration/happy/async-hooks/test.ts
  src/packages/client/src/__tests__/integration/happy/middlewares-manipulation/test.ts
  src/packages/client/src/__tests__/integration/happy/middlewares/dev.db
  src/packages/client/src/__tests__/integration/happy/middlewares/test.ts
  src/packages/client/src/generation/TSClient/helpers.ts
  src/packages/client/src/runtime/MiddlewareHandler.ts
  src/packages/client/src/runtime/PrismaClientFetcher.ts
  src/packages/client/src/runtime/getPrismaClient.ts
  src/packages/client/src/runtime/query.ts
  src/packages/client/tsconfig.json
Owners: @Jolg42, @williamluke4, @millsp

add Benchmark.js Benchmark (benchmarkjs) benchmark result for dec79f5764fbc0f44dd2d352cbea5ccc11de4516
  dev/bench/data.js
Owners: @Jolg42, @williamluke4, @millsp

fix(deps): update engines to v2.25.0-5.78b0f2b031373a23869ef1ceace79ab171aa9273
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Owners: @Jolg42, @williamluke4, @millsp

fix(deps): update engines to v2.25.0-5.78b0f2b031373a23869ef1ceace79ab171aa9273
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Owners: @Jolg42, @williamluke4, @millsp

fix(deps): update engines to v2.25.0-5.78b0f2b031373a23869ef1ceace79ab171aa9273
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Owners: @Jolg42, @williamluke4, @millsp

add Benchmark.js Benchmark (benchmarkjs) benchmark result for fdc5040465d547f1ce57701ef1edbca213a8f2d2
  dev/bench/data.js
Owners: @Jolg42, @williamluke4, @millsp

fix(client): remove debug export
  src/packages/client/src/runtime/PrismaClientFetcher.ts
  src/packages/client/src/runtime/getPrismaClient.ts
Owners: @williamluke4, @millsp

fix(client): remove debug export (#7430)
  src/packages/client/src/runtime/PrismaClientFetcher.ts
  src/packages/client/src/runtime/getPrismaClient.ts
Owners: @williamluke4, @millsp

fix(client): remove debug export (#7430)
  src/packages/client/src/runtime/PrismaClientFetcher.ts
  src/packages/client/src/runtime/getPrismaClient.ts
Owners: @williamluke4, @millsp

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 32117fd0656ae3f9be1bc91bacf30d99a65cee07
  dev/bench/data.js
Owners: @Jolg42, @williamluke4, @millsp

fix(deps): update engines to v2.25.0-6.54f085fd8a8bc6f28dc0d3e3d6e303c5111318d2
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Owners: @Jolg42, @williamluke4, @millsp

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 12e641b1a3a916f813b8a82bb050d8fff236e297
  dev/bench/data.js
Owners: @Jolg42, @williamluke4, @millsp

use and parse binaryTargets + test
  src/packages/client/src/generator.ts
  src/packages/client/src/runtime/utils/printDatasources.ts
  src/packages/engine-core/src/NAPIEngine.ts
  src/packages/engine-core/src/NodeEngine.ts
  src/packages/engine-core/src/util.ts
  src/packages/generator-helper/src/types.ts
  src/packages/migrate/src/utils/printDatasources.ts
  src/packages/sdk/src/__tests__/getGenerators/getGenerators.test.ts
  src/packages/sdk/src/__tests__/getGenerators/valid-minimal-schema-binaryTargets-env-var.prisma
  src/packages/sdk/src/getGenerators.ts
  src/packages/sdk/src/utils/parseEnvValue.ts
Owners: @williamluke4, @millsp, @Jolg42

update engines
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Owners: @Jolg42, @williamluke4, @millsp

update test snapshot
  src/packages/sdk/src/__tests__/getGenerators/getGenerators.test.ts
Owners: @Jolg42, @williamluke4, @millsp

update test so result are the same locally and in ci
  src/packages/sdk/src/__tests__/getGenerators/getGenerators.test.ts
Owners: @Jolg42, @williamluke4, @millsp

fix(db,migrate): show download progress during generate closes 6926
  src/packages/migrate/src/Migrate.ts
Owners: @Jolg42

fix(db,migrate): show download progress during generate closes #6926 (#7436)
  src/packages/migrate/src/Migrate.ts
Owners: @Jolg42

fix(db,migrate): show download progress during generate closes #6926 (#7436)
  src/packages/migrate/src/Migrate.ts
Owners: @Jolg42

add Benchmark.js Benchmark (benchmarkjs) benchmark result for 6c9f02d00c176699af684900bade45ea74633e19
  dev/bench/data.js
Owners: @Jolg42, @williamluke4, @millsp

fix(deps): update engines to v2.25.0-9.de005f74e95623a80a9912ba883fd105fcac5fda
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Owners: @Jolg42, @williamluke4, @millsp

add Benchmark.js Benchmark (benchmarkjs) benchmark result for f62934e2e5354a5b4f4ad2a3f29cad9d4820463f
  dev/bench/data.js
Owners: @Jolg42, @williamluke4, @millsp

fix: bump engines from @patch
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Owners: @Jolg42, @williamluke4, @millsp

test(client): snapshot params from middleware
  src/packages/client/src/__tests__/integration/happy/middlewares/__snapshots__/test.ts.snap
  src/packages/client/src/__tests__/integration/happy/middlewares/test.ts
Owners: @williamluke4, @millsp

test(client): snapshot params from middleware (#7441)
  src/packages/client/src/__tests__/integration/happy/middlewares/__snapshots__/test.ts.snap
  src/packages/client/src/__tests__/integration/happy/middlewares/test.ts
Owners: @williamluke4, @millsp

test(client): snapshot params from middleware (#7441)
  src/packages/client/src/__tests__/integration/happy/middlewares/__snapshots__/test.ts.snap
  src/packages/client/src/__tests__/integration/happy/middlewares/test.ts
Owners: @williamluke4, @millsp

add Benchmark.js Benchmark (benchmarkjs) benchmark result for dce3ac999b60aa39e5730e0fa33b8273c5c87380
  dev/bench/data.js
Owners: @Jolg42, @williamluke4, @millsp

fix: bump engines
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
  src/pnpm-lock.yaml
Owners: @Jolg42, @williamluke4, @millsp

test: test napi on buildkite
  src/scripts/ci/publish.ts
Owners: @Jolg42

chore: bump version to trigger test
  src/package.json
Owners: @Jolg42, @williamluke4, @millsp

Update publish.ts
  src/scripts/ci/publish.ts
Owners: @Jolg42

Update package.json
  src/package.json
Owners: @Jolg42, @williamluke4, @millsp

fix(deps): update engines to v2.25.0-10.7eca2458569e8183a865bc4f7b1d842572edce4a
  src/packages/cli/package.json
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/sdk/package.json
Owners: @Jolg42, @williamluke4, @millsp

undici@next
  src/packages/engine-core/package.json
  src/packages/engine-core/pnpm-lock.yaml
  src/pnpm-lock.yaml
Owners: @williamluke4, @millsp, @Jolg42
