Repository prisma/prisma, pull requests merged in 2018-07, with the labels that each got.

#2598 remove unused import
  cli/packages/prisma-cli-core/src/commands/login/login.ts
Labels: component/cli

#2559 Use user provided schema or default to public.
  cli/packages/prisma-cli-core/src/utils/EndpointDialog.ts
Labels: component/cli

#2596 Prevent unhandled promise rejection on opening browser window
  cli/packages/prisma-cli-engine/src/Client/Client.ts
Labels: component/cli

#2597 Fix playground crashing on chromeos
  cli/packages/prisma-cli-core/src/commands/playground/index.ts
Labels: component/cli

#2599 Prevent unhandled rejection error
  cli/packages/prisma-cli-core/src/commands/console/index.ts
Labels: component/cli

#2744 docs(graphql-yoga overview): fix examples link
  docs/1.11/06-GraphQL-Ecosystem/01-GraphQL-Yoga/01-Overview.md
Labels: component/docs

#2505 Update createDraft Mutation resolver
  docs/1.9/03-Tutorials2/02-Build-GraphQL-Servers/01-Development/01-Build-a-GraphQL-Server-with-Prisma.md
Labels: stale

#2760 Adds Logout command
  cli/packages/prisma-cli-core/src/commands/logout/logout.ts
  cli/packages/prisma-cli-core/src/index.ts
  cli/packages/prisma-cli-engine/src/Client/Client.ts
  cli/scripts/build.sh
Labels: component/cli

#2778 Add graphql-authentication example
  examples/graphql-authentication/.graphqlconfig.yml
  examples/graphql-authentication/README.md
  examples/graphql-authentication/datamodel.graphql
  examples/graphql-authentication/docker-compose.yml
  examples/graphql-authentication/emails/inviteUser/html.pug
  examples/graphql-authentication/emails/inviteUser/subject.pug
  examples/graphql-authentication/emails/passwordReset/html.pug
  examples/graphql-authentication/emails/passwordReset/subject.pug
  examples/graphql-authentication/emails/signupUser/html.pug
  examples/graphql-authentication/emails/signupUser/subject.pug
  examples/graphql-authentication/generated-schema.graphql
  examples/graphql-authentication/index.js
  examples/graphql-authentication/package.json
  examples/graphql-authentication/permissions.js
  examples/graphql-authentication/prisma.yml
  examples/graphql-authentication/resolvers.js
  examples/graphql-authentication/schema.graphql
  examples/graphql-authentication/yarn.lock
Labels: component/docs

#2712 Fixes issue with reseting when using 'run' as seed definition
  cli/packages/prisma-cli-core/src/commands/seed/Seeder.ts
Labels: component/cli
