Repository prisma/prisma, pull requests merged in 2018-03, with the labels that each got.

#2051 Fix typo
  docs/1.3/04-Reference/09-Migration-Guides/06-Server-Hosting.md
Labels: component/docs

#2087 fixed typo in comment
  examples/subscriptions/database/prisma.yml
Labels: component/docs

#2078 Update error for invalid service to delete #2076
  server/servers/deploy/src/main/scala/com/prisma/deploy/schema/mutations/DeleteProjectMutation.scala
Labels: component/prisma

#2050 Opening console in web fixes #2038
  cli/packages/prisma-cli-core/src/commands/console/index.ts
Labels: component/cli
