Repository prisma/prisma, pull requests merged in 2018-05, with the labels that each got.

#2352 fix typo
  server/connectors/api-connector/src/main/scala/com/prisma/api/schema/Errors.scala
Labels: component/server

#2292 add reference to invalid prisma.yml solution
  docs/1.7/04-Reference/09-Upgrade-Guides/02-Upgrading-Prisma/02-Upgrade-to-1.7.md
Labels: component/docs

#2318 Update Upsert Docs re Nested Mutation Functionality
  docs/1.2/04-Reference/03-Prisma-API/04-Mutations.md
Labels: component/docs

#2130 chore: changes the Docker restart policy
  cli/packages/prisma-cli-core/src/commands/local/docker/docker-compose.yml
  cli/packages/prisma-cli-core/src/commands/local/docker/framework-docker-compose.yml
Labels: component/cli
