Repository prisma/prisma, pull requests merged in 2021-09, with the labels that each got.

#8617 chore: restrict search to prisma-client-js for previewFeatures telemetry
  packages/cli/src/bin.ts
  packages/generator-helper/src/types.ts
Labels: kind/improvement, topic: cli, topic: internal, team/migrations

#9080 fix(engine-commands): Better debug output for CLI QE used
  packages/sdk/src/engine-commands/getConfig.ts
  packages/sdk/src/engine-commands/getDmmf.ts
Labels: topic: node-api

#8946 feat(init): Do not create `.gitignore` file if already present
  packages/cli/src/Init.ts
  packages/cli/src/__tests__/commands/Init.test.ts
  packages/cli/src/__tests__/fixtures/init/.gitignore
Labels: team/client

#8646 fix(client): start parsing from top of stack trace
  packages/client/helpers/jestSnapshotSerializer.js
  packages/client/src/__tests__/integration/errors/can-not-connect-to-database/test.ts
  packages/client/src/__tests__/integration/errors/client-version-error/test.ts
  packages/client/src/__tests__/integration/errors/incorrect-column-type/test.ts
  packages/client/src/__tests__/integration/errors/invalid-input/test.ts
  packages/client/src/__tests__/integration/errors/invalid-url/test.ts
  packages/client/src/__tests__/integration/errors/missing-binary-native-binaryTarget/test.ts
  packages/client/src/__tests__/integration/errors/missing-binary/test.ts
  packages/client/src/__tests__/integration/errors/missing-column/test.ts
  packages/client/src/__tests__/integration/errors/missing-engine-native-binaryTarget/binary.test.ts
  packages/client/src/__tests__/integration/errors/missing-engine-native-binaryTarget/library.test.ts
  packages/client/src/__tests__/integration/errors/missing-engine-native-binaryTarget/schema.prisma
  packages/client/src/__tests__/integration/errors/missing-engine/binary.test.ts
  packages/client/src/__tests__/integration/errors/missing-engine/library.test.ts
  packages/client/src/__tests__/integration/errors/missing-engine/schema.prisma
  packages/client/src/__tests__/integration/errors/missing-table/test.ts
  packages/client/src/__tests__/integration/errors/referentialActions-onDelete-default-foreign-key-error-mysql/test.ts
  packages/client/src/__tests__/integration/errors/referentialActions-onDelete-default-foreign-key-error-postgresql/test.ts
  packages/client/src/__tests__/integration/errors/referentialActions-onDelete-default-foreign-key-error-sqlite/test.ts
  packages/client/src/__tests__/integration/errors/uncheckedScalarValidation/test.ts
  packages/client/src/__tests__/integration/errors/union-validation/test.ts
  packages/client/src/__tests__/integration/happy/full-text-search/test.ts
  packages/client/src/__tests__/integration/happy/interactive-transactions/test.ts
  packages/client/src/runtime/utils/printStack.ts
Labels: topic: prisma-client, topic: error, team/client
