Repository prisma/prisma, pull requests merged in 2021-06, with the labels that each got.

#7581 fix: pass env to Node-API and remove `patchJest`
  src/packages/cli/package.json
  src/packages/client/helpers/patchJest.js
  src/packages/client/package.json
  src/packages/engine-core/package.json
  src/packages/engine-core/src/NAPIEngine.ts
  src/packages/engine-core/src/napi-types.ts
  src/packages/fetch-engine/package.json
  src/packages/migrate/package.json
  src/packages/migrate/src/__tests__/rpc.test.ts
  src/packages/sdk/package.json
  src/packages/sdk/scripts/patchJest.js
  src/packages/sdk/src/engine-commands/getConfig.ts
  src/pnpm-lock.yaml
Labels: topic: nApi

#7601 fix: disable Node-API with M1
  src/packages/engine-core/src/NAPIEngine.ts
  src/packages/fetch-engine/src/download.ts
  src/packages/get-platform/src/getNapiName.ts
  src/packages/get-platform/src/index.ts
  src/packages/get-platform/src/isNodeAPISupported.ts
  src/packages/sdk/src/engine-commands/getConfig.ts
  src/packages/sdk/src/engine-commands/getDmmf.ts
  src/packages/sdk/src/engine-commands/getVersion.ts
Labels: topic: nApi

#7595 chore: NAPIEngine cleanup
  src/packages/client/src/__tests__/integration/happy/raw-transactions/test.ts
  src/packages/engine-core/src/Engine.ts
  src/packages/engine-core/src/NAPIEngine.ts
  src/packages/engine-core/src/NodeEngine.ts
Labels: team/client, topic: node-api

#7740 feat(client, engine-core): Add support for `beforeExit` with Node-API
  src/packages/client/src/__tests__/integration/happy/exit-hook/test.ts
  src/packages/engine-core/src/NAPIEngine.ts
Labels: topic: node-api

#7813 chore(PRISMA_FORCE_NAPI): comments and links
  src/packages/cli/src/Version.ts
  src/packages/cli/src/__tests__/studio.test.ts
  src/packages/cli/src/__tests__/version.test.ts
  src/packages/client/src/__tests__/generation/generator.test.ts
  src/packages/client/src/__tests__/integration/errors/error-link/test.ts
  src/packages/client/src/__tests__/integration/errors/invalid-input/test.ts
  src/packages/client/src/__tests__/integration/errors/missing-binary-native-binaryTarget/schema.prisma
  src/packages/client/src/__tests__/integration/errors/missing-binary-native-binaryTarget/test.ts
  src/packages/client/src/__tests__/integration/errors/missing-binary/test.ts
  src/packages/client/src/__tests__/integration/errors/too-many-engines/test.ts
  src/packages/client/src/__tests__/integration/happy/chmod/test.ts
  src/packages/client/src/__tests__/integration/happy/restart/test.ts
  src/packages/client/src/__tests__/nodeEngine.test.ts
  src/packages/client/src/generation/TSClient/TSClient.ts
  src/packages/sdk/src/engine-commands/getConfig.ts
Labels: topic: node-api

#7680 test: run studio test for Node-API too
  src/packages/cli/package.json
  src/packages/cli/src/__tests__/studio.test.ts
Labels: team/developer-productivity, topic: node-api, topic: studio, topic: tests

#7834 fix(sdk): client installation when not near cli
  src/packages/sdk/src/predefinedGeneratorResolvers.ts
Labels: bug/2-confirmed

#7671 fix(cli): add `--datasource-provider` to `init` command
  src/packages/cli/src/Init.ts
  src/packages/cli/src/__tests__/__snapshots__/init.test.ts.snap
  src/packages/cli/src/__tests__/init.test.ts
Labels: kind/feature, team/migrations, topic: cli, topic: cli-init
