Repository prisma/prisma, pull requests merged in 2022-01, with the labels that each got.

#9523 fix(client): merge changed params in middleware (#9522)
  packages/client/src/__tests__/integration/happy/middlewares/test.ts
  packages/client/src/runtime/getPrismaClient.ts
Labels: tech/typescript, team/client

#10844 feat(cockroachdb): Init and display provider in CLI output
  packages/cli/src/Init.ts
  packages/cli/src/__tests__/commands/Init.test.ts
  packages/cli/src/__tests__/commands/__snapshots__/Init.test.ts.snap
  packages/client/src/runtime/utils/printDatasources.ts
  packages/generator-helper/src/types.ts
  packages/migrate/src/__tests__/MigrateResolve.test.ts
  packages/migrate/src/__tests__/__snapshots__/MigrateResolve.test.ts.snap
  packages/migrate/src/__tests__/fixtures/schema-only-cockroachdb/prisma/empty.prisma
  packages/migrate/src/__tests__/fixtures/schema-only-cockroachdb/prisma/invalid-url.prisma
  packages/migrate/src/__tests__/fixtures/schema-only-cockroachdb/prisma/schema.prisma
  packages/migrate/src/__tests__/fixtures/schema-only-cockroachdb/prisma/shadowdb.prisma
  packages/migrate/src/utils/ensureDatabaseExists.ts
  packages/migrate/src/utils/printDatasources.ts
  packages/sdk/src/convertCredentials.ts
Labels: topic: cockroachdb

#10764 feat(client): tracing
  packages/client/helpers/build.ts
  packages/client/package.json
  packages/client/src/__tests__/include.test.ts
  packages/client/src/__tests__/integration/happy/aggregations/test.ts
  packages/client/src/__tests__/integration/happy/count/test.ts
  packages/client/src/__tests__/integration/happy/disconnect-finally/test.ts
  packages/client/src/__tests__/integration/happy/disconnect-while-query/test.ts
  packages/client/src/__tests__/select.test.ts
  packages/client/src/__tests__/undefined-vs-null.test.ts
  packages/client/src/generation/TSClient/Count.ts
  packages/client/src/generation/TSClient/Model.ts
  packages/client/src/generation/TSClient/Output.ts
  packages/client/src/generation/TSClient/PrismaClient.ts
  packages/client/src/generation/TSClient/TSClient.ts
  packages/client/src/generation/utils.ts
  packages/client/src/runtime/PrismaClientFetcher.ts
  packages/client/src/runtime/RequestHandler.ts
  packages/client/src/runtime/core/model/aggregates/aggregate.ts
  packages/client/src/runtime/core/model/aggregates/count.ts
  packages/client/src/runtime/core/model/aggregates/groupBy.ts
  packages/client/src/runtime/core/model/aggregates/utils/aggregateMap.ts
  packages/client/src/runtime/core/model/applyAggregates.ts
  packages/client/src/runtime/core/model/applyFluent.ts
  packages/client/src/runtime/core/model/applyModel.ts
  packages/client/src/runtime/core/model/applyModels.ts
  packages/client/src/runtime/core/model/utils/dmmfToJSModelName.ts
  packages/client/src/runtime/core/model/utils/jsToDMMFModelName.ts
  packages/client/src/runtime/core/request/PrismaPromise.ts
  packages/client/src/runtime/core/request/createPrismaPromise.ts
  packages/client/src/runtime/core/utils/getCallSite.ts
  packages/client/src/runtime/dmmf.ts
  packages/client/src/runtime/getPrismaClient.ts
  packages/client/src/runtime/index.ts
  packages/client/src/runtime/query.ts
  packages/client/src/runtime/utils/common.ts
  packages/client/src/runtime/utils/otel/applyTracingHeaders.ts
  packages/client/src/runtime/utils/otel/runInChildSpan.ts
  packages/client/src/runtime/utils/printStack.ts
  packages/engine-core/src/binary/BinaryEngine.ts
  packages/engine-core/src/data-proxy/DataProxyEngine.ts
  packages/engine-core/src/library/LibraryEngine.ts
  packages/generator-helper/src/dmmf.ts
  pnpm-lock.yaml
Labels: topic: tracing
