Repository prisma/prisma, pull requests merged in 2022-04, with the labels that each got.

#12821 feat(dataproxy): expose error info to users
  packages/engine-core/src/__tests__/errors.test.ts
  packages/engine-core/src/data-proxy/errors/BadRequestError.ts
  packages/engine-core/src/data-proxy/errors/ServerError.ts
  packages/engine-core/src/data-proxy/errors/utils/responseToError.ts
Labels: topic: data proxy

#10996 fix: modify PrismaClientKnownRequestError type from object
  packages/engine-core/src/common/errors/PrismaClientKnownRequestError.ts
Labels: topic: prisma-client, topic: error, topic: client types, tech/typescript, team/client

#12067 chore: Improve error message when URLs don't start with `prisma://` when using dataproxy
  packages/engine-core/src/data-proxy/DataProxyEngine.ts
Labels: topic: data proxy

#12718 fix(client): add 'findRaw' to PrismaAction for mongodb findRaw middleware queries
  packages/client/src/__tests__/integration/happy/exhaustive-schema-mongo/__snapshots__/test.ts.snap
  packages/client/src/__tests__/integration/happy/exhaustive-schema/__snapshots__/test.ts.snap
  packages/client/src/generation/TSClient/PrismaClient.ts
Labels: process/candidate, topic: prisma-client, tech/typescript, topic: middleware, team/client, topic: mongodb
